node_modules
npm-debug.log
parameters.json
gcloud-auth.json
coverage/
__parameters.json
_parameters.json
logs/
serviceAccountKey.json
pubSubCredentials.json
reports/
databasedump

.DS_Store
.vscode
.idea
reports_tmp
newrelic_agent.log
*_report.csv
bin/dbdiff/config
bin/dbdiff/apgdiff*.jar
package-lock.json

events.sql
participations.sql
database.json
environments.json
src/config/index.js